.Container {
  overflow-y: scroll;
  width: 100%;
  max-width: 800px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.Message {
  color: white;
}

.Divider {
  border: none;
  border-top: 1px solid #525252;
  width: 90%;
}

.Content {
  display: flex;
  gap: 1rem;
}

.Sender {
  font-weight: bold;
  border: 0.5px solid #525252;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.Text {
  width: 90%;
  margin: 0.3rem 0;
}
