.Chat-box-container {
  overflow-y: scroll;
  height: calc(100vh - 50px - 2rem);
  scrollbar-width: none;
}

.your-element::-webkit-scrollbar {
  display: none;
}

.Message {
  color: white;
  margin: 1rem 0;
}

.Divider {
  border: none;
  border-top: 1px solid #525252;
  width: 97%;
  margin: 2.5rem 0 2.5rem auto;
}

.Content {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.Sender {
  font-weight: bold;
  border: 0.5px solid #525252;
  background-color: #262626;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.Text {
  width: 90%;
  margin: 0.3rem 0;
}
